* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(185, 135, 43),
    rgba(0, 0, 0, 0.949)
  );
}

.music-player {
  width: 80%;
  max-width: 400px;
  background-color: white;
  padding: 3em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px yellow;
}

img {
  width: 100%;
  max-height: 250px;
  margin-top: 1.25em;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
}

#playlist {
  float: right;
}

.song-details {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.song-details #song-name {
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
}

.song-details #song-artist {
  font-size: 15px;
  margin-top: 5px;
}

.player-options {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.player-options button {
  border: none;
  background-color: transparent;
}

#play,
#pause {
  background-color: rgb(185, 135, 43);
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: white;
  border-radius: 50%;
}
#prev,
#next {
  color: black;
  font-size: 18px;
}
#shuffle,
#repeat {
  color: rgb(95, 90, 83);
  font-size: 24px;
}

#progress-bar {
  position: relative;
  background-color: rgba(0, 0, 0, 0.949);
  width: 100%;
  height: 7px;
  border-radius: 30px;
  cursor: pointer;
}
#current-progress {
  position: absolute;
  background-color: rgb(255, 199, 33);
  width: 30%;
  height: 7px;
  top: 0;
  left: 0;
  border-radius: 55px;
}

.time-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.playlist-container {
  background-color: rgba(255, 207, 15, 1);
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  box-shadow: 0 0 20px black;
  border-radius: 25px;
}
#close-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 92%;
  margin-top: 6px;
}
.hide {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.playlist-song-details {
  margin-left: 1em;
}
.playlist-image-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-self: center;
  justify-self: center;
}
.playlist-song-details {
  margin-top: 1.1rem;
}
.playlist-song-details > span {
  display: block;
}
#playlist-song-artist-album {
  color: gray;
}

@media screen and (max-width: 450px) {
  .music-player {
    font-size: 14px;
  }
}

.active {
  color: rgb(255, 199, 33) !important;
}
